dist
notebooks
planet-idlatsa-test/
cfg
*.sav
.ipynb*
planet-idlatsa-test/stacked*
planet-idlatsa-test/intermediates*
atsa-idl/data/
terraform/*tfstate*
notebooks/aws.yaml
*/.DS_Store
*/._.DS_Store
.Rproj.user
kmls.zip
.Rhistory
.DS_Store
.vscode
catalog/*.tif*
catalog/*/*.tif*
catalog/*/*/*.tif*
*csv
*/*csv
*.ini
*/*.ini
master_grid.tif
terraform/.terraform
__pycache__
notebooks/data
notebooks/*.png
cfg/master_grid*
notebooks/*.ipynb_checkpoints
notebooks/*.txt
notebooks/*.zip
notebooks/*.geojson
*.zip
notebooks/*.tif
*.tif
atsa-python/*.sav
cfg/*.json
cfg/*.vott
cfg/*-export/
cfg/buffered*
cfg/paper-aois/
cfg/test_grid-05degree.geojson
mosaic-tests/
notebooks/clipped-may/
notebooks/figures/
notebooks/jan_april_2018_100ovp_50maxcloud/
notebooks/notebook.tex
notebooks/pyatsa-data-prepare.ipynb
notebooks/small_supercell_and_full_scenes_May-September/
planet-idlatsa-test/angles_larger_utm.txt
planet-idlatsa-test/fake-mask-no-water-envi-format
planet-idlatsa-test/fake-mask-no-water-envi-format.hdr

